@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    color: white;
}

body{
    background-color:rgb(28, 28, 28);
}

.welcome {
    text-align: center;
   
}

.welcome h1{
    padding-bottom: 0.5rem;
}

.user  {
    color: #4B99E3;
}

.card-container{
   display: flex;
   flex-wrap: wrap;
   width: 100%; 
   gap: 1.5rem;
}

.card{
    display: flex; 
    margin-top: 1rem;
    width: 400px;
    background-color: rgb(50, 50, 50);
    border-radius: 0.8rem;
    padding: 0.5rem;
}

.btn-card{
    width: 100%;
    background-color: #4B99E3;
    border: none;
    padding: 0.5rem 0rem 0.5rem 0rem;
    border-radius: 0.7rem;
}

.btn-price{
    display: flex;
    gap: 1rem   ;
    align-items: center;
}

.card-image{
   display: grid;
   align-items: center;
   justify-content: center;
   padding: 1.5rem;
   width: 100px;
    
}

.form-container{
    width: 100%;
}
.input{
    padding-bottom: 5px;
}

.home{
    display: flex;
    flex-direction: column;
    gap: 2rem  ;
}

.start{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    gap: 1rem;
}

.btn {
   width: 200px;
   background-color: #4B99E3;
   border: none;
   height: 50px;
   border-radius: 0.7rem;
}

.btn:hover{ 
    background-color: #2e6db4;
}

.btn a{
    text-decoration: none;
    color : white;
    padding: 1rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.nav-links{
    text-decoration: none;
    padding: 0.5rem;
}