<div class="start">
    {{#if isNotLoggedIn}}
    <button class="btn"><a href="/login">Login</a></button>
    <button class="btn"><a href="/register">Register</a></button>
    <button class="btn"><a href="/api/sessions/github">conectar con github</a></button>
    {{/if}}

</div>