<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{#each styles}}
     <link rel="stylesheet" href="/css/{{this}}">
    {{/each}} 
  
   
</head>
<body>
    
    {{#if isLoggedIn}}
        <navbar class="navbar">
            <div>
                <a href="/profile" class="nav-links">My Profile</a>
                <a href="/api/sessions/logout" class="nav-links">Logout</a>
            </div>
            <div>
                <a href="/home" class="nav-links">Products</a>
            </div>
        </navbar>
    {{/if}}
    
    {{{body}}}

    {{#if useWS}}
        <script src="/socket.io/socket.io.js"></script>
    {{/if}}
    
   

    {{#each scripts}}
        <script src="/js/{{this}}"></script>
    {{/each}}
</body>
</html>
